<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practica.jmm.mascotaspreferidas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cat_footprint_48"
        android:label="@string/app_name"
        android:logo="@drawable/cat_footprint_48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Top5mascotas"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".FormularioMail" />
        <activity android:name=".AcercaDe" />
        <activity android:name=".Usuario_loguin" />

        <service android:name=".notification.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.NotificationIDTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".RespuestasWear">
            <intent-filter>
                <action android:name="PERFIL" />
                <action android:name="LIKE" />
                <action android:name="USER" />
            </intent-filter>
        </receiver>

        <activity android:name=".PerfilUsuarioLike"></activity>
    </application>

</manifest>